.corpo{
    background-color: rgb(192, 135, 245);
}
.titulo{
    font-size: 50px;color: white;background: rgb(223, 137, 235);text-align: center;
}
.texto-imc{
    font-size: 50px;
    text-align: center;
}